/*** ADMIN STYLES ***/

.mrca_wrapper { display: none; border: 1px solid silver; background: #eee; padding: 5px 10px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; margin-top: 5px; } 

.mrca_wrapper.visible {display:block; } 

.hidden {display: none; } 

#loader_overlay {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(255,255,255,0.7) url(../gfx/loader.gif) 50% 50% no-repeat; z-index: 300; }


/*** FRONTEND ***/

/** covers_wo (Default) **/

ul.music,
ul.music li,
ul.music li a,
ul.music li img{ margin:0; padding:0; list-style:none; list-style-type: none !important; border:0; text-decoration:none; }
ul.music li{ margin:15px 15px 15px 0 !important; float:left; position:relative; } 
ul.music li a{ display:block; position:relative; float:left; width:80px; height:80px; text-indent:-1000em; overflow:hidden; z-index:1; cursor: pointer; } 
ul.music li img{ position:absolute; width:80px; height:80px; border:0; }

/* Jewel Case */
ul.music li.jewel img{ width:72px; height:72px; top:3px; left:12px; } 
ul.music li.jewel a{ background:url(../gfx/jewel.png) 0 0 no-repeat; width:96px; height:82px; } 
ul.music li.jewel{ background:url(../gfx/blank_insert.gif) 12px 3px no-repeat; }

/* Vinyl Sleeve */
ul.music li.vinyl img{ width:72px; height:72px; left:2px; top:1px; } 
ul.music li.vinyl a{ background:url(../gfx/vinyl.png) 0 0 no-repeat; width:96px; /*height:76px;*/ height: 82px; } 
ul.music li.vinyl{ background:url(../gfx/vinyl_insert.gif) 2px 1px no-repeat; }

/* Compact Disc */
ul.music li.cd img, 
ul.music li.cd a{ width:82px; height:82px; top:0; left:0; } 
ul.music li.cd a{ background:url(../gfx/cd-ddd.png) 0 0 no-repeat; height:86px; } 
ul.music li.cd{ background:url(../gfx/blank_cd.jpg) 0 0 no-repeat; } 
ul.music li:hover { z-index: 10; }

/** covers **/

ul.simplemusic li { display: block; float: left; width: 100px; height: 100px; margin: 10px 10px 0 0 !important; padding: 0px; position: relative; background: #ccc; }
ul.simplemusic li img { width: 100px; height: 100px; position: absolute; top: 0px; left: 0px; z-index: 0;}
ul.simplemusic li a { display: none; width: 90px; height: 90px; position: absolute; top: 0px; padding: 5px; left: 0px; z-index: 2; background: rgba(0,0,0,0.8); color: #fff; font-size: 11px; }
ul.simplemusic li:hover a { display: block;  }
ul.simplemusic a span { display: none; }
ul.simplemusic a span.mrc_artist,
ul.simplemusic a span.mrc_title { display: block; }
ul.simplemusic a span.mrc_title { font-weight: bold; }

ul.simplemusic a span.mrc_format,
ul.simplemusic a span.mrc_label { display: inline;  color: #bbb; }

/** list **/
ul.simple { list-style-type: none !important; }
ul.simple li:nth-child(odd) { background-color: #eee; }

/** MRC_info_tooltip **/
#MRC_info_tooltip { display: none; width: 223px; height: 95px; background: url(../gfx/overlayBaW.png) top right no-repeat; position: absolute; padding: 5px; z-index: 7; }
#MRC_info_tooltip.alternative { background-position: top left !important; }
#MRC_info_tooltip .info {width: 45%; float: right; color: #fff; text-align: right; font-size: 11px; padding: 3px; word-wrap: break-word; }
#MRC_info_tooltip.alternative .info { float: left; text-align: left; }
#MRC_info_tooltip .info span { display: block; color: #666; }

.mrc_d_foot{ clear: both; }

/** Light mode **/
#MyRecordCollection.light,
#MyRecordCollection.light a { color: #fff; }
#MyRecordCollection.light ul.simple li:nth-child(odd) { background-color: #333; }

#MRC_info_tooltip.light { background-position: bottom right; color: #000; }
#MRC_info_tooltip.light.alternative { background-position: bottom left !important; color: #000; }
#MRC_info_tooltip.light .info { color: #000; }


/** DISPLAY INFO **/
#MRC_INFO { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; padding: 0px;  }
.tracks{
	clear: both;
	width: 450px;
	font-size: 12px;
	border-spacing: 0;
	padding-left: 0;
	padding-top: 5px;
}

.tracks th{
	padding: 2px;
	color: #444;
	text-align: left;
	background-color: #eee;
	border-bottom: 1px solid #555;
}

.tracks td{
	padding: 2px;
	color: #000;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
#MRC_INFO img { float: left; border: 1px solid #333; margin: 0 5px 5px 0;  }
#MRC_INFO h2 { display: inline; font-size: 14px; }
#MRC_INFO div { margin-top: 5px; line-height: 1.3;}
#MRC_INFO .label { display: inline-block; width: 100px; }
p.credits { line-height: 1.2; width: 450px !important; }
#MRC_INFO p.credits b {
	margin-top: 5px;
	width: 450px;
	display: block;
	padding: 2px;
	color: #444;
	text-align: left;
	background-color: #eee;
	border-bottom: 1px solid #555;
}
