/** ADMIN STYLES **/
.mrcAdmin input[disabled=disabled] {
  color:silver;
}

#mrc_dst, #mrc_src{
	display:none;
}

.mrcAdmin input[disabled=disabled]{
	color: silver;
}


/** FRONT STYLES **/
ul.mrc {
	float: left;
	list-style: none;
	margin: 0; 
	width: 600px;
}
ul.mrc li {
	margin: 10px; 
	float: left;
	position: relative;  /* Set the absolute positioning base coordinate */
	width: 100px;
	height: 100px;
	cursor: pointer;
}
ul.mrc li img {
	width: 100px; height: 100px; /* Set the small thumbnail size */
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	z-index: 22;
	padding: 0;
	border: 1px solid #ddd;
	background: #f0f0f0;
	position: absolute;
	right: 0; 
	top: 0;
}

ul.mrc li p{
	display: none;
	position:relative;
	z-index: 900;
	/*padding: 5px;*/
	color: white;
	font-size: 10px;
	background-color: rgba(0,0,0,.7);
	width: 90px;
	margin: 1px 0px 0px -1px;
	padding: 5px;
	height: 50px;
	overflow: hidden;
}

			ul.music,
			ul.music li,
			ul.music li a,
			ul.music li img{
				margin:0;
				padding:0;
				list-style:none;
				list-style-type: none !important;
				border:0;
				text-decoration:none;
			}
			ul.music li{
				margin:15px 15px 15px 0 !important;
				float:left;
				position:relative;
			}
			ul.music li a{
				display:block;
				position:relative;
				float:left;	
				width:80px;
				height:80px;
				text-indent:-1000em;
				overflow:hidden;
				z-index:1;	
				cursor: pointer;
			}
			ul.music li img{
				position:absolute;
				width:80px;
				height:80px;
				border:0;
			}
			
			/* Jewel Case */
			ul.music li.jewel img{
				width:72px;
				height:72px;
				top:3px;
				left:12px;
			}			
			ul.music li.jewel a{
				background:url(../gfx/jewel.png) 0 0 no-repeat;
				width:90px;
				height:82px;							
			}
			ul.music li.jewel{
				background:url(../gfx/blank_insert.gif) 12px 3px no-repeat;							
			}
			
			
			/* Vinyl Sleeve */
			ul.music li.vinyl img{
				width:72px;
				height:72px;
				left:2px;
				top:1px;
			}			
			ul.music li.vinyl a{
				background:url(../gfx/vinyl.png) 0 0 no-repeat;
				width:96px;
				/*height:76px;		*/
				height: 82px;
			}
			ul.music li.vinyl{
				background:url(../gfx/vinyl_insert.gif) 2px 1px no-repeat;							
			}
			
			
			/* Compact Disc */
			ul.music li.cd img,
			ul.music li.cd a{
				width:82px;
				height:82px;
				top:0;
				left:0;
			}			
			ul.music li.cd a{
				background:url(../gfx/cd-ddd.png) 0 0 no-repeat;			
				height:86px;
			}
			ul.music li.cd{
				background:url(../gfx/blank_cd.jpg) 0 0 no-repeat;							
			}
			
ul.simple{
	list-style-type: none;
	cursor:pointer;
}

ul.simple li:nth-child(even){
	background-color: rgba(0,0,0,.1);
}

.mrc_d_foot{
	clear:both;
	font-size: 10px;
	color: #777777;
}


*:first-child+html ul.mrc li p{background-color: #000;}
* html ul.mrc li p{background-color: #000;}
		
.entry ul li:before, #sidebar ul ul li:before {
	content: "" !important;
	}